<script type="text/javascript">
  <% if signed_in? %>
    window.currentUser = <%=
    render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe
    %>
  <% end %>
  window.assets = {
    logo: "<%= image_url('logo.png') %>",
    wordless_logo: "<%= image_url('wordless_logo.png') %>",
    new_note: "<%= image_url('new_note.png') %>",
    search: "<%= image_url('search.png') %>",
    notes: "<%= image_url('notes.png') %>",
    notebooks: "<%= image_url('notebooks.png') %>",
    tags: "<%= image_url('tags.png') %>"
  }
</script>

<main id="root"></main>
